
body{
    background-color: wheat !important;
}
header{
    p.logo-icon{
        margin-top: 20px;
    }
    h1{
        color:red;
        margin-bottom: 25px;
        font-weight: 300;
    }
}
div.content{
    background-color: white;
    margin-top: 25px;
    padding: 15px;
    border-radius: 8px;
}